:root {
  --primary-font-family: "Merriweather";
  --secondary-font-family: "Roboto";
  --primary-color: #FF5A26;
  --secondary-color: #393936;
  --background-color: #E5E5E5;
  --footer-background-color: #252525;
  --container-color: #FFFFFF;
  --nav-text-color: #808080;
  --secondary-text-color: #9D9D98;
  --border-input-color: #EAEAEA;
  --form-background-color: rgba(57, 57, 54, 0.03);
  --form-input-text-color: #9C9C9A;
  --box-shadow: 0px 10px 30px rgba(255, 111, 65, 0.5);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
  font-family: "Merriweather", "Roboto", sans-serif;
  font-weight: normal;
  line-height: 1.25;
  color: var(--secondary-color);
  background-color: var(--container-color);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}

@media screen and (max-width: 480px) {
  .container {
    max-width: 480px;
    padding: 0 20px;
  }
}
@media screen and (min-width: 1170px) {
  .container {
    width: 1170px;
  }
}
/* -----------------button--------------------- */
.button {
  height: 50px;
  padding: 12px 30px;
  border: none;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: var(--container-color);
  font-family: Roboto;
  cursor: pointer;
}
.button:hover, .button:focus {
  border: 2px solid var(--primary-color);
  background-color: var(--container-color);
  color: var(--secondary-color);
}

/* -----------------HEADER--------------------- */
.header {
  position: relative;
  padding-top: 15px;
}
@media screen and (min-width: 1170px) {
  .header {
    padding-top: 37px;
  }
}

.header .container {
  display: flex;
  justify-content: space-between;
}

.logo__img {
  width: 134px;
  height: auto;
  margin-top: 6px;
}
@media screen and (min-width: 1170px) {
  .logo__img {
    width: 160px;
    height: auto;
    margin-top: 0;
    margin-right: 134px;
  }
}

.nav {
  background-color: #fff;
}
@media screen and (min-width: 1170px) {
  .nav {
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav__list {
  position: absolute;
  right: 50px;
  top: 0;
  visibility: hidden;
}
@media screen and (min-width: 1170px) {
  .nav__list {
    position: static;
    display: flex;
    justify-content: space-between;
    visibility: visible;
    padding: 0;
    margin: 0;
  }
}

.nav__item a {
  margin-right: 25px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 19px;
  line-height: 0.95;
  color: var(--nav-text-color);
}
.nav__item a:hover {
  color: var(--primary-color);
}

.nav__link {
  display: none;
  margin-left: 200px;
}
@media screen and (min-width: 1170px) {
  .nav__link {
    display: block;
    font-family: Roboto;
    font-weight: 600;
    font-size: 19px;
    line-height: 0.95;
    text-align: right;
    text-decoration-line: underline;
    color: var(--primary-color);
  }
}

.nav__button {
  width: 42px;
  height: 42px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: var(--container-color);
  font-family: Roboto;
}
.nav__button:hover, .nav__button:focus {
  background-color: var(--primary-color);
  box-shadow: 0px 10px 30px rgba(57, 57, 54, 0.5);
}
@media screen and (min-width: 1170px) {
  .nav__button {
    display: none;
  }
}

.nav__button img {
  margin-left: auto;
  margin-right: auto;
}

/* ------------mobile-menu------------- */
.nav__list-mobile {
  display: none;
}

@media screen and (max-width: 480px) {
  .active {
    transform: rotate(180deg);
  }
  .is-hidden {
    opacity: 0;
    visibility: hidden;
  }
  .nav__list-mobile {
    position: absolute;
    top: 75px;
    left: 0;
    display: block;
    z-index: 2;
    width: 100%;
    margin: 0;
    padding: 40px 100px;
    background-color: var(--container-color);
    box-shadow: 0px 10px 30px rgba(57, 57, 54, 0.5);
  }
  .nav__item-mobile {
    margin-bottom: 25px;
  }
  .nav__item-mobile a {
    font-family: Roboto;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.25;
    color: var(--nav-text-color);
    text-decoration: none;
  }
}
/* -----------------hero--------------------- */
.hero__text {
  padding-top: 48px;
}
@media screen and (min-width: 1170px) {
  .hero__text {
    display: flex;
    padding-top: 56px;
  }
}

.text__about-course {
  display: inline-flex;
  align-items: center;
  font-family: var(--primary-font-family);
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  color: var(--secondary-color);
}
.text__about-course::before {
  content: "";
  width: 2px;
  height: 48px;
  margin-right: 16px;
  background: var(--primary-color);
}
@media screen and (min-width: 1170px) {
  .text__about-course::before {
    height: 110px;
    margin-right: 27px;
    padding-right: 2px;
  }
}
@media screen and (min-width: 1170px) {
  .text__about-course::after {
    content: "";
    width: 67px;
    height: 27px;
    margin-left: 18px;
    margin-right: 38px;
    background-image: url(../../images/arrow.svg);
    background-size: contain;
  }
}

.text__header {
  margin-top: 32px;
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 32px;
  color: var(--secondary-color);
}
@media screen and (min-width: 1170px) {
  .text__header {
    margin-top: 0;
    font-weight: 400;
    font-size: 58px;
    line-height: 1.15;
    color: var(--secondary-color);
  }
}

/* ----------------------------------------- */
.main__back-img {
  max-width: 440px;
  height: 225px;
  margin-top: 38px;
  padding-top: 35px;
  background-image: url(../../images/back_img_desktop.jpg);
  background-size: cover;
  background-position-x: center;
}
@media screen and (min-width: 1170px) {
  .main__back-img {
    max-width: 877px;
    height: 359px;
    margin-top: 63px;
    margin-left: auto;
    padding-top: 100px;
  }
}

.button__invite {
  width: 156px;
  height: 156px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text__info {
  margin-top: 49px;
  font-family: var(--secondary-font-family);
  font-weight: 400;
  font-size: 22px;
  color: var(--secondary-color);
}
@media screen and (min-width: 1170px) {
  .text__info {
    width: 877px;
    margin-left: auto;
  }
}

/* -------author--------------------------------------- */
.authors__section {
  max-width: 480px;
}
@media screen and (min-width: 1170px) {
  .authors__section {
    position: absolute;
    top: 328px;
    display: flex;
    flex-direction: column-reverse;
  }
}

.button__join {
  display: block;
  margin-top: 32px;
  padding-left: 30px;
  width: 161px;
  height: 50px;
  border-radius: 30px;
  box-shadow: 0px 10px 30px rgba(255, 111, 65, 0.5);
  font-family: var(--secondary-font-family);
  font-weight: 600;
  font-size: 19px;
  color: var(--container-color);
  /* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
@media screen and (min-width: 1170px) {
  .button__join {
    margin-top: 60px;
  }
}

.author {
  padding-top: 58px;
  display: flex;
}
@media screen and (min-width: 1170px) {
  .author {
    flex-direction: column;
    padding-top: 0;
  }
}

.author img {
  width: 159px;
  height: auto;
}

.author__info {
  padding-left: 10px;
  margin-left: auto;
  font-family: var(--secondary-font-family);
}
@media screen and (min-width: 1170px) {
  .author__info {
    margin-left: 0;
  }
}

.text__about-author {
  margin-bottom: 37px;
  margin-top: 40px;
  width: 160px;
}

.author__link {
  font-family: var(--secondary-font-family);
  font-weight: 600;
  font-size: 19px;
  text-decoration-line: underline;
  color: var(--secondary-color);
}

/* ----------awards----------------------------------- */
.awards {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 90px;
  padding: 0;
}
@media screen and (min-width: 1170px) {
  .awards {
    margin-top: 120px;
  }
}

.award__card {
  width: 200px;
  font-family: var(--secondary-font-family);
  flex-basis: calc((100% - 50px) / 2);
}
@media screen and (min-width: 1170px) {
  .award__card {
    flex-basis: calc((100% - 75px) / 4);
  }
}

.award__icon {
  position: relative;
  width: 140px;
  height: 125px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
}

.award__icon li {
  display: block;
  margin: 0;
  font-family: var(--primary-font-family);
}

.award__title {
  margin-top: 22px;
  font-weight: 700;
  font-size: 21px;
  color: var(--secondary-color);
}
@media screen and (min-width: 1170px) {
  .award__title {
    margin-top: 42px;
  }
}

.awards__text {
  margin-top: 15px;
  font-weight: 40;
  font-size: 21px;
  color: var(--secondary-color);
}
@media screen and (min-width: 1170px) {
  .awards__text {
    margin-top: 21px;
  }
}

.left__lavr {
  position: absolute;
  left: 0;
  margin: 0;
}

.rigth__lavr {
  position: absolute;
  right: 0;
  margin: 0;
}

.award__icon > li:nth-child(1) {
  font-style: italic;
  font-weight: 700;
  font-size: 13px;
}

.award__icon > li:nth-child(2) {
  font-weight: 700;
  font-size: 23px;
}

.award__icon > li:nth-child(3) {
  font-weight: 700;
  font-size: 13px;
}

/* ----------course program--------------------- */
.button__join-course {
  max-width: 291px;
  height: auto;
  display: block;
  text-align: center;
  background-color: var(--primary-color);
  box-shadow: 0px 10px 30px rgba(255, 111, 65, 0.5);
  border-radius: 200px;
  font-family: var(--secondary-font-family);
  font-weight: 600;
  font-size: 19px;
  color: var(--container-color);
}

.program {
  padding-top: 48px;
  padding-bottom: 50px;
}
@media screen and (min-width: 1170px) {
  .program {
    padding-top: 130px;
    padding-bottom: 0;
  }
}

.program__discription {
  width: 100%;
  font-weight: 400;
  font-size: 32px;
}
@media screen and (min-width: 1170px) {
  .program__discription {
    width: 830px;
    font-weight: 400;
    font-size: 57px;
    line-height: 1.25;
  }
}

@media screen and (min-width: 1170px) {
  .program__container {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 70px;
    justify-content: flex-end;
  }
}

.program__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0;
  padding: 0;
  margin-top: 27px;
}
@media screen and (min-width: 1170px) {
  .program__list {
    height: 168px;
    display: block;
    padding-top: 50px;
    margin-left: 85px;
  }
}

@media screen and (min-width: 1170px) {
  .program__list-item {
    padding-top: 4px;
    padding-left: 27px;
    border-left: 2px solid var(--secondary-text-color);
    cursor: pointer;
  }
  .program__list-item:not(:last-child) {
    margin-bottom: 46px;
  }
  .program__list-item.is-active {
    background-color: var(--container-color);
    border-left: 2px solid var(--primary-color);
  }
  .program__list-item.is-active h3 {
    color: var(--primary-color);
  }
}

@media screen and (max-width: 480px) {
  .program__list-item {
    width: 139px;
    height: 39px;
    padding-left: 25px;
    padding-top: 4px;
    border: 1px solid #000000;
    border-radius: 200px;
    cursor: pointer;
  }
  .program__list-item:hover {
    background-color: var(--primary-color);
    color: var(--container-color);
  }
}
.program__num {
  border-radius: 200px;
  font-family: var(--secondary-font-family);
  font-weight: 400;
  font-size: 20px;
}
@media screen and (min-width: 1170px) {
  .program__num {
    font-size: 22px;
  }
}

.program__text {
  display: none;
}
@media screen and (min-width: 1170px) {
  .program__text {
    display: block;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.5;
  }
}

/* -----card-------------- */
.program__card {
  display: none;
}

.is-active {
  display: block;
}

.program__card {
  max-width: 480px;
  height: 100%;
  margin-top: 32px;
  padding: 50px 32px 55px 32px;
  background-color: rgba(57, 57, 54, 0.03);
  border-top: 2px solid var(--primary-color);
}
@media screen and (min-width: 1170px) {
  .program__card {
    width: 586px;
    height: 639px;
    margin-top: 0;
    padding: 50px 60px 0 64px;
  }
}
.program__card img {
  margin-bottom: 30px;
}
.program__card p {
  font-family: var(--secondary-font-family);
  font-weight: 400;
  font-size: 22px;
  line-height: 1.25;
  color: var(--secondary-text-color);
}
.program__card h4 {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.5;
}
.program__card ul {
  padding: 0;
  padding-top: 30px;
  border-top: 1px solid #000000;
  margin-top: 30px;
  margin-bottom: 30px;
}
.program__card ul > li {
  font-family: var(--secondary-font-family);
  font-size: 22px;
  line-height: 1.25;
}
.program__card ul > li:first-child {
  margin-bottom: 30px;
}
.program__card ul > li > span {
  font-weight: 700;
}

/* ----------course metodology--------------------- */
.metodology {
  padding-bottom: 20px;
}
@media screen and (min-width: 1170px) {
  .metodology {
    position: relative;
    padding-top: 132px;
    padding-left: 587px;
    padding-bottom: 120px;
  }
}

.metodology__title {
  font-weight: 400;
  font-size: 32px;
}
@media screen and (min-width: 1170px) {
  .metodology__title {
    font-size: 47px;
  }
}

.metodology__list {
  margin-top: 42px;
  padding: 0;
}
@media screen and (min-width: 1170px) {
  .metodology__list {
    margin-top: 62px;
  }
}

.metodology__item {
  display: inline-flex;
  align-items: flex-start;
  text-decoration: none;
  margin-bottom: 25px;
  font-family: var(--secondary-font-family);
  font-weight: 400;
  font-size: 20px;
  color: currentColor;
}
@media screen and (min-width: 1170px) {
  .metodology__item {
    margin-bottom: 40px;
  }
}
.metodology__item:last-child {
  margin-bottom: 0;
}
.metodology__item::before {
  content: "";
  width: 24px;
  height: 24px;
  padding-right: 24px;
  margin-right: 23px;
  background-size: cover;
}
.metodology__item:nth-child(1)::before {
  background-image: url(../../images/sr-city.svg);
}
.metodology__item:nth-child(2)::before {
  background-image: url(../../images/sr-book.svg);
}
.metodology__item:nth-child(3)::before {
  background-image: url(../../images/sr-sendchat-v1.svg);
}
.metodology__item:nth-child(4)::before {
  background-image: url(../../images/sr-live.svg);
}

@media screen and (min-width: 1170px) {
  .bg__image {
    width: 430px;
    height: 570px;
    position: absolute;
    top: 127px;
    left: 0;
    background-image: url(../../images/metodology_img.jpg);
  }
}

/* ----------course invitation--------------------- */
@media screen and (min-width: 1170px) {
  .invitation__section {
    display: flex;
  }
}

.invitation {
  padding-top: 32px;
}
@media screen and (min-width: 1170px) {
  .invitation {
    width: 585px;
    height: 529px;
  }
}

.invitation__title {
  font-weight: 400;
  font-size: 32px;
}
@media screen and (min-width: 1170px) {
  .invitation__title {
    width: 500px;
    font-size: 57px;
  }
}

.invitation__text {
  margin-top: 30px;
  padding-left: 30px;
  border-left: 2px solid var(--primary-color);
  font-style: italic;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.5;
}
@media screen and (min-width: 1170px) {
  .invitation__text {
    width: 385px;
  }
}

.invitation__info {
  margin-top: 30px;
  font-family: var(--secondary-font-family);
  font-weight: 400;
  font-size: 22px;
}
@media screen and (min-width: 1170px) {
  .invitation__info {
    width: 430px;
  }
}

.invitation__empty-slots {
  margin-top: 30px;
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 22px;
}

.list {
  display: inline-flex;
  margin: 5px 0 0 0;
  padding: 0;
}

.list-item {
  width: 24px;
  height: 24px;
  margin-right: 7px;
}

/* ------------form---------------- */
.form {
  /* width: 585px; */
  height: 529px;
  display: flex;
  flex-direction: column;
  padding: 71px 0 0 0;
  margin-top: 70px;
  background: var(--form-background-color);
  border-top: 2px solid var(--primary-color);
}
@media screen and (min-width: 1170px) {
  .form {
    width: 585px;
    padding: 71px 90px 0 90px;
    margin-top: 0;
  }
}

.form > label {
  margin-bottom: 24px;
  font-family: var(--secondary-font-family);
  font-weight: 400;
  font-size: 22px;
  text-align: center;
}

.form > label > span {
  display: block;
  font-family: var(--primary-font-family);
  font-style: italic;
  font-weight: 700;
  font-size: 32px;
  /* margin-bottom: 21px; */
}
@media screen and (min-width: 1170px) {
  .form > label > span {
    margin-bottom: 21px;
  }
}

.form input {
  max-width: 406px;
  height: 50px;
  padding-left: 26px;
  margin-bottom: 20px;
  background: var(--container-color);
  border: 1px solid var(--border-input-color);
  border-radius: 200px;
  font-family: var(--secondary-font-family);
  font-weight: 400;
  font-size: 19px;
  color: var(--form-input-text-color);
}

.form button {
  max-width: 406px;
  height: 50px;
  box-shadow: var(--box-shadow);
  border-radius: 200px;
}

/* ------------footer---------------- */
footer {
  background: var(--footer-background-color);
}
@media screen and (min-width: 1170px) {
  footer {
    margin-left: auto;
    margin-right: auto;
  }
}

.footer {
  padding: 40px 0;
}
@media screen and (min-width: 1170px) {
  .footer {
    width: 1170px;
    height: 248px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
  }
}

address {
  text-align: center;
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: var(--container-color);
}
@media screen and (min-width: 1170px) {
  address {
    width: 222px;
    margin-right: 70px;
    text-align: start;
  }
}

.social__list {
  margin: 30px 0;
  padding: 0;
  text-align: center;
}
@media screen and (min-width: 1170px) {
  .social__list {
    margin: 0;
    padding: 0;
    text-align: start;
  }
}

.social__list li {
  margin-bottom: 5px;
}
@media screen and (min-width: 1170px) {
  .social__list li {
    width: 202px;
    margin-right: 230px;
  }
}

.social__list li > a {
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  color: var(--container-color);
  text-decoration: none;
}

.contacts {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: var(--container-color);
}
@media screen and (min-width: 1170px) {
  .contacts {
    width: 450px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0;
    margin: 0 0 42px 0;
  }
}

.contacts + li {
  text-align: center;
}

.contacts a {
  display: block;
  margin-top: 20px;
  font-family: var(--secondary-font-family);
  font-weight: 400;
  font-size: 22px;
  text-decoration-line: underline;
  color: var(--container-color);
}
@media screen and (min-width: 1170px) {
  .contacts a {
    margin-top: 0;
  }
}

.lastline {
  padding: 40px 0;
  height: 118px;
  border-top: 1px solid #424242;
  background: var(--footer-background-color);
}
@media screen and (min-width: 1170px) {
  .lastline {
    width: 1170px;
    height: 118px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 0;
  }
}
.lastline p {
  display: none;
}
@media screen and (min-width: 1170px) {
  .lastline p {
    display: block;
    font-family: var(--secondary-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: var(--nav-text-color);
  }
}
.lastline > img {
  display: none;
}
@media screen and (min-width: 1170px) {
  .lastline > img {
    width: 44px;
    height: 25px;
    display: block;
  }
}
.lastline__logo {
  margin-left: auto;
  margin-right: auto;
}

.callback__logo {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
@media screen and (min-width: 1170px) {
  .callback__logo {
    margin-top: 40px;
  }
}

.callback__img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}
@media screen and (min-width: 1170px) {
  .callback__img {
    margin-top: 124px;
  }
}

.callback__text {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.15;
  text-align: center;
}
@media screen and (min-width: 1170px) {
  .callback__text {
    font-size: 58px;
  }
}

.callback__button {
  max-width: 237px;
  height: 50px;
  display: block;
  text-align: center;
  padding: 12px 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
  margin-bottom: 45px;
  background-color: var(--primary-color);
  box-shadow: 0px 10px 30px rgba(255, 111, 65, 0.5);
  border-radius: 200px;
  font-family: var(--secondary-font-family);
  font-weight: 600;
  font-size: 19px;
  color: var(--container-color);
}
@media screen and (min-width: 1170px) {
  .callback__button {
    margin-bottom: 164px;
  }
}

@media screen and (min-width: 1170px) {
  .callback__contacts {
    display: block;
    text-align: end;
  }
}

.callback__contacts p {
  margin: 0;
}/*# sourceMappingURL=main.css.map */