:root {
    --primary-font-family: 'Merriweather';
    --secondary-font-family: 'Roboto';

    --primary-color: #FF5A26;
    --secondary-color: #393936;
    --background-color: #E5E5E5;
    --container-color: #FFFFFF;
    --nav-text-color: #808080;
    --secondary-text-color: #9D9D98;
}