:root {
    --primary-font-family: 'Merriweather';
    --secondary-font-family: 'Roboto';

    --primary-color: #FF5A26;
    --secondary-color: #393936;
    --background-color: #E5E5E5;
    --footer-background-color: #252525;
    --container-color: #FFFFFF;
    --nav-text-color: #808080;
    --secondary-text-color: #9D9D98;
    --border-input-color: #EAEAEA;
    --form-background-color: rgba(57, 57, 54, 0.03);
    --form-input-text-color: #9C9C9A;

    --box-shadow: 0px 10px 30px rgba(255, 111, 65, 0.5);
    --icon-color: #9d9d98;
}

$count-free-place: 3; /* for course invitation */