/* ----------awards----------------------------------- */
.awards{
  display: flex;
  flex-wrap: wrap;
  gap: 25px;

  margin-top: 90px;
  padding: 0;

@media screen and (min-width: 1170px) {
    margin-top: 120px;
}
}

.award__card {
    width: 200px;

    font-family: var(--secondary-font-family);
    flex-basis: calc((100% - 50px) / 2);

@media screen and (min-width: 1170px) {
    flex-basis: calc((100% - 75px) / 4);
}
}

.award__icon {
    position: relative;

    width: 140px;
    height: 125px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 0;
}
.award__icon li{
    display: block;

    margin: 0;

    font-family: var(--primary-font-family);
    
}

.award__title {
margin-top: 22px;

font-weight: 700;
font-size: 21px;
color: var(--secondary-color);

@media screen and (min-width: 1170px) {
    margin-top: 42px;
}
}

.awards__text {
margin-top: 15px;

font-weight: 40;
font-size: 21px;
color: var(--secondary-color);

@media screen and (min-width: 1170px) {
    margin-top: 21px;
}
}

.left__lavr{
    position: absolute;
    left: 0;

    margin: 0;
}

.rigth__lavr{
    position: absolute;
    right: 0;

    margin: 0;
}

.award__icon>li:nth-child(1) {
font-style: italic;
font-weight: 700;
font-size: 13px;
}

.award__icon>li:nth-child(2) {
font-weight: 700;
font-size: 23px;
}

.award__icon>li:nth-child(3) {
font-weight: 700;
font-size: 13px;
}