/* ------------footer---------------- */
footer {
background: var(--footer-background-color);

@media screen and (min-width: 1170px) {
margin-left: auto;
margin-right: auto;
}
}

.footer {
padding: 40px 0;

@media screen and (min-width: 1170px) {
width: 1170px;
height: 248px;

display: flex;

margin-left: auto;
margin-right: auto;
padding-top: 80px;
}
}

address {
    text-align: center;
    font-family: var(--secondary-font-family);
    font-style: normal;
font-weight: 400;
font-size: 20px;

color: var(--container-color);

@media screen and (min-width: 1170px) {
    width: 222px;
    margin-right: 70px;
    text-align: start;
}
}

.social__list{
    margin: 30px 0;
    padding: 0;

    text-align: center;

  @media screen and (min-width: 1170px) {
    margin: 0;
    padding: 0;

    text-align: start;
}

}

.social__list li {
    margin-bottom: 5px;

  @media screen and (min-width: 1170px) {
    width: 202px;

    margin-right: 230px;
}
}

.social__list li > a {
font-family: var(--secondary-font-family);
font-style: normal;
font-weight: 400;
font-size: 22px;
color: var(--container-color);
text-decoration: none;
}

.contacts {
    padding: 0;
    margin: 0;

    text-align: center;

    font-family: var(--secondary-font-family);
font-style: normal;
font-weight: 400;
font-size: 20px;
color: var(--container-color);

@media screen and (min-width: 1170px) {
    width: 450px;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    padding: 0;
    margin: 0 0 42px 0 ;    
}
}

.contacts + li {
    text-align: center;
}

.contacts a {
display: block;
margin-top: 20px;
font-family: var(--secondary-font-family);
font-weight: 400;
font-size: 22px;
text-decoration-line: underline;
color: var(--container-color);

@media screen and (min-width: 1170px) {
    margin-top: 0;
}
}

.lastline {
  padding: 40px 0;
  height: 118px;
  border-top:  1px solid #424242;;
  background: var(--footer-background-color);

@media screen and (min-width: 1170px) {
width: 1170px;
height: 118px;

display: flex;
justify-content: space-between;
align-items: center;

margin-left: auto;
margin-right: auto;
padding: 40px 0; 
}

& p {
    display: none;

  @media screen and (min-width: 1170px) {
  display: block;

font-family: var(--secondary-font-family);
font-style: normal;
font-weight: 400;
font-size: 22px;
color: var(--nav-text-color);
}
}

& > img {
    display: none;

  @media screen and (min-width: 1170px) {
        width: 44px;
    height: 25px;

    display: block;   
}
}

&__logo{
margin-left: auto;
margin-right: auto;
}
}