/* -----------------button--------------------- */

.button {
    // width: 291px;
    height: 50px;

    padding: 12px 30px;

    border: none;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: var(--container-color);
    font-family: Roboto;
    cursor: pointer;

  &:hover,
  &:focus {
    border: 2px solid var(--primary-color);
    background-color: var(--container-color);
    color: var(--secondary-color);
}
}
/* -----------------HEADER--------------------- */

.header {
    position: relative;
    padding-top: 15px;

@media screen and (min-width: 1170px) {
    padding-top: 37px;
}
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.logo__img{
  width:134px;
  height: auto;

  margin-top: 6px;

@media screen and (min-width: 1170px) {
  width:160px;
  height: auto;

  margin-top: 0;
  margin-right: 134px;
 }
}

.nav {
    background-color: #fff; 

@media screen and (min-width: 1170px) {

    position: static;
    display: flex;
    justify-content:space-between;
    align-items: center;
 }
}

.nav__list {
    position: absolute;
    right: 50px;
    top: 0;
    visibility: hidden;

 @media screen and (min-width: 1170px) {
    position: static;
    display: flex;
    justify-content: space-between;
    visibility: visible;

    padding: 0;
    margin: 0;
}
}

.nav__item a {
    margin-right: 25px;

    font-family: Roboto;
    font-weight: 400;
    font-size: 19px;
    line-height: 0.95;
    color: var(--nav-text-color);

&:hover {
   color: var(--primary-color);
 }
}

.nav__link {
    display: none;
    margin-left: 200px;

@media screen and (min-width: 1170px) {
    display: block;
    font-family: Roboto;
    font-weight: 600;
    font-size: 19px;
    line-height: 0.95;
    text-align: right;
    text-decoration-line: underline;
    color: var(--primary-color);
}
}

.nav__button {
    width: 42px;
    height: 42px;

    padding: 0;
    margin: 0;

    border: none;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: var(--container-color);
    font-family: Roboto;

  &:hover,
  &:focus {
    // border: 2px solid var(--secondary-color);
    background-color: var(--primary-color);
    box-shadow:  0px 10px 30px rgba(57, 57, 54, 0.5);
    // transform: rotate(180deg);
}

@media screen and (min-width: 1170px) {
    display: none; 
}
}

.nav__button img {
    margin-left: auto;
    margin-right: auto;
}

/* ------------mobile-menu------------- */

.nav__list-mobile {
    display: none;
}

@media screen and (max-width: 480px){

.active{
    transform: rotate(180deg);
}

.is-hidden {
   opacity: 0;
   visibility: hidden;
}

.nav__list-mobile {
    position: absolute;
    top: 75px;
    left: 0;
    display: block;
    z-index: 2;
    width: 100%;

    margin: 0;
    padding: 40px 100px;

    background-color: var(--container-color);
    box-shadow: 0px 10px 30px rgba(57, 57, 54, 0.5);
}

.nav__item-mobile {
    margin-bottom: 25px;
}

.nav__item-mobile a {
font-family: Roboto;
font-weight: 700;
font-size: 22px;
line-height: 1.25;
color: var(--nav-text-color);
text-decoration: none;
}
}