/* ----------course invitation--------------------- */

.invitation__section {
@media screen and (min-width: 1170px) {
    display: flex;
}}

.invitation {
    padding-top: 32px;

    @media screen and (min-width: 1170px) {
    width: 585px;
    height: 529px;
}
}

.invitation__title {
font-weight: 400;
font-size: 32px;

@media screen and (min-width: 1170px) {
    width:500px ;
     font-size: 57px;
}
}

.invitation__text {
margin-top: 30px;
padding-left: 30px;

border-left: 2px solid var(--primary-color);
font-style: italic;
font-weight: 700;
font-size: 22px;
line-height: 1.50;

@media screen and (min-width: 1170px) {
    width: 385px;
}
}

.invitation__info {
margin-top: 30px;

font-family: var(--secondary-font-family);
font-weight: 400;
font-size: 22px;

@media screen and (min-width: 1170px) {
    width: 430px;
}
}

.invitation__empty-slots {
    margin-top: 30px;

font-family: var(--secondary-font-family);
font-weight: 700;
font-size: 22px;
}

.list {
    display: inline-flex;

    margin: 5px 0 0 0;
    padding: 0;
    
}
.list-item{
    width: 24px;
    height: 24px;

    margin-right: 7px;
    // margin: 0 7px 0 0;
}

/* ------------form---------------- */

.form {
    /* width: 585px; */
    height: 529px;

    display: flex;
    flex-direction: column;

    padding: 71px 0 0 0;

    background: var(--form-background-color);

@media screen and (min-width: 1170px) {
    width: 585px;

    padding: 71px 90px 0 90px;
}
}

.form > label {
    margin-bottom: 24px;

font-family: var(--secondary-font-family);
font-weight: 400;
font-size: 22px;
text-align: center;
}

.form > label > span {
    display: block;

font-family: var(--primary-font-family);
font-style: italic;
font-weight: 700;
font-size: 32px;
/* margin-bottom: 21px; */

@media screen and (min-width: 1170px) {
  margin-bottom: 21px;
}
}

.form input {
    max-width: 406px;
height: 50px;

padding-left: 26px;
margin-bottom: 20px;

background: var(--container-color);
border: 1px solid var(--border-input-color);
border-radius: 200px;

font-family: var(--secondary-font-family);
font-weight: 400;
font-size: 19px;
color: var(--form-input-text-color);
}

.form button {
max-width: 406px;
height: 50px;

box-shadow: var(--box-shadow);
border-radius: 200px;
}

// .form input:valid {
//   border:3px solid #4caf50;
// }

// .form input:invalid {
//   border:3px solid var(--primary-color);
// }