/* ----------course metodology--------------------- */
.metodology{
    padding-bottom: 20px; 

@media screen and (min-width: 1170px) {
    position: relative;

    padding-top: 132px;
    padding-left: 587px;
    padding-bottom: 120px;
}
}

.metodology__title {
font-weight: 400;
font-size: 32px;

@media screen and (min-width: 1170px) {
font-size: 47px;
}
}

.metodology__list{
    margin-top: 42px;
    padding: 0;

  @media screen and (min-width: 1170px) {
    margin-top: 62px;
}
}

.metodology__item{
    display: inline-flex;
  align-items: flex-start;
  text-decoration: none;

  margin-bottom: 25px;

font-family: var(--secondary-font-family);
font-weight: 400;
font-size: 20px;
color: currentColor;

  @media screen and (min-width: 1170px) {
     margin-bottom: 40px;
}

&:last-child{
    margin-bottom: 0;
}

&::before {
  content: "";
  width: 24px;
  height: 24px;
  padding-right: 24px;
  margin-right: 23px;
  background-size: cover;
}

&:nth-child(1)::before {
  background-image: url(../../images/sr-city.svg);
}
&:nth-child(2)::before {
  background-image: url(../../images/sr-book.svg);
}
&:nth-child(3)::before {
  background-image: url(../../images/sr-sendchat-v1.svg);
}
&:nth-child(4)::before {
  background-image: url(../../images/sr-live.svg);
}
}

.bg__image {
  @media screen and (min-width: 1170px) {
    width: 430px;
    height: 570px;
    
    position: absolute;
    top: 127px;
    left: 0;

    background-image: url(../../images/metodology_img.jpg);
}
}
